.title{
	text-align: center;
    font-style: italic;
    color: white;
	top:50px;
	position:relative;

}
 .sum{
	border-style: double;
	border-color: white;
    color:Black;
	font-size: 20px;
	top:100px;
	width:1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:1em;
	border-radius:10px;
	background-color:rgba(255,255,255,0.5);
	position:relative;

}

.sum ul{
	padding:1em;
}

h4{
    font-weight: bold;
    text-align: left;

}
